<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Email</title>
</head>

<body aria-disabled="true" class="fr-disabled" spellcheck="false">
    <img src="https://i.ibb.co/tQTj60z/safe-Code-Genie-email-cover-1.jpg" alt="">
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">Welcome to SafeCode Genie, the AI tool specifically developed for
            the
            Building Safety Act 2022!</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">&nbsp;</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">We're excited to have you on board, and we're confident that
            SafeCode Genie
            can help you streamline your compliance process and stay ahead of the curve.</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">&nbsp;</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">You can now access to SafeCode Genie using the following
            information.</span>
    </p>
    <p
        style='margin-right:0in;margin-left:1.5in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <strong><span style="font-size:15px;color:#1F1F1F;">&nbsp;</span></strong>
    </p>
    <p
        style='margin-right:0in;margin-left:1.5in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <strong><span style="font-size:15px;color:#1F1F1F;">Username</span></strong><span
            style="font-size:15px;color:#1F1F1F;">:&nbsp; &nbsp; &nbsp; &nbsp;{{name}}</span>
    </p>
    <p
        style='margin-right:0in;margin-left:1.5in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">Use the password you had set up while creating your account.</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">&nbsp;</span>
    </p>

    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">&nbsp;</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">SafeCode Genie is a powerful AI tool that can help you with a wide
            range of
            tasks related to the Building Safety Act 2022. Here are just a few ways that SafeCode Genie can help
            you:</span>
    </p>
    <ul style="margin-bottom:0in;margin-top:0in;" type="disc">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;color:#1F1F1F;'>
            <span style="font-size:15px;border:none windowtext 1.0pt;padding:0in;">Save time and money by providing
                rapid, accurate responses to legislative questions.&nbsp;</span>
        </li>
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;color:#1F1F1F;'>
            <span style="font-size:15px;border:none windowtext 1.0pt;padding:0in;">Help&nbsp;</span><span
                style="font-size:15px;">you identify and assess building risks early on, so you can take steps to
                mitigate them before they become a problem.</span>
        </li>
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;color:#1F1F1F;'>
            <span style="font-size:15px;border:none windowtext 1.0pt;padding:0in;">Improve communication with building
                owners and residents by generating&nbsp;</span><span style="font-size:15px;">clear, concise, and
                compliant communications.</span>
        </li>
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;color:#1F1F1F;'>
            <span style="font-size:15px;border:none windowtext 1.0pt;padding:0in;">Demonstrate compliance by providing
                access to all members of your team, increasing support for&nbsp;</span><span
                style="font-size:15px;">reports and decision making across the business and with regulators.</span>
        </li>
    </ul>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">&nbsp;</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">SafeCode Genie is easy to use with a very simple user interface,
            which can
            be accessed from any browser on any device. Simply log in to your account and ask your first question. Why
            not try one of these:</span>
    </p>
    <div style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'>
        <ol style="margin-bottom:0in;list-style-type: decimal;margin-left:25.700000000000003px;">
            <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'><span
                    style="font-family:Calibri;">I'm a Principal Accountable Person (PAP), what are my responsibilities
                    under the Building Safety Act 2022?</span></li>
        </ol>
    </div>
    <ol start="2" type="1" style="margin-bottom:0in;">
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'><span
                style="font-size:15px;color:#101D2F;">What information needs to go into my Safety Case Report and who do
                I need to submit it to and by when?</span></li>
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'><span
                style="font-size:15px;color:#101D2F;">Can I sell my HRRB without complying with the BSA?</span></li>
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'><span
                style="font-size:15px;color:#101D2F;">How relevant is Approved Document B to fire safety of the external
                wall?</span></li>
        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'><span
                style="font-size:15px;color:#101D2F;">What should a fire emergency file contain? - This could then be
                followed up with.</span>
            <ol start="1" type="a" style="margin-bottom:0in;">
                <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Calibri",sans-serif;'><span
                        style="font-size:15px;color:#101D2F;">What do I need to do to satisfy Parts B1 to B5 of Schedule
                        1 of the Building Regulations?</span></li>
            </ol>
        </li>
    </ol>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">&nbsp;</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">Glad to have you onboard!</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;">The SafeCode Genie Team</span>
    </p>
    <p
        style='margin-right:0in;margin-left:0in;font-size:16px;font-family:"Calibri",sans-serif;margin:0in;margin-bottom:.0001pt;'>
        <span style="font-size:15px;color:#1F1F1F;"><img src="https://i.ibb.co/Bzjpq0r/safecode-genie-footer-image.jpg"
                width="106"></span>
    </p>

</body>

</html>